.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}
.contact-card{
    background-color: #fafafa;
    padding: 20px 15px;
    border-radius: 15px;
    h4{
        font-weight: 700;
        font-size: 22px;
    }
    .icon{
        color: #79CAEC;
    }
}

input[type='file']{
    background-color: #ffff !important;
}

label{
font-size: 14px;
color: #4D4D4D;
font-weight: 400;
}
textarea{
    border-radius: 12px;
    background-color: #F7F7F7;
    border: 0;
    padding-inline: 10px;
    outline: none;
    height: 5rem;
  }
  input:focus, select:focus, textarea:focus{
    outline: solid 1px #1985B3;
  }
  .subtitle{
    color: #4D4D4D;
    font-weight: 400;
    font-size: 14px;
    width: fit-content;
    cursor: pointer;
  }
  .subtitle:hover{
    color: #1985B3 !important;
  }
.faq-header{
    font-weight: 700;
    font-size: 28px;
    color: #0d0d0d;
    text-align: center;
}



@media screen and (max-width: 768px){
    .contact-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px){
    .contact-container{
        grid-template-columns: 1fr;
    }
}

.section-name{
    cursor: pointer;
    background-color: #fafafa;
    padding: 8px 10px;
    border-radius: 18px;
    font-size: 14px;
}

.active-section-name{
    background-color: #4CB8E6;
    color: #fff;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 18px;
    cursor: pointer;
}

.input-container{
    display: flex;
      flex-direction: column;
      gap: 5px;
    input, select{
      height: 3.2rem;
      border-radius: 12px;
      background-color: #F7F7F7;
      border: 0;
      padding-inline: 10px;
      outline: none;
  }
}