.header-links{
    cursor: pointer;
    text-decoration: none;
    color: #666666;
}
.search-form input{
    outline: none;
    border: none;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 1rem;
}

.member-custom-input-wrapper h5{
    font-size: 18px;
    font-weight: 600;
}
.member-custom-input-wrapper sup{
    color: red;
}
.custom-input-wrapper label{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.custom-input-wrapper input, .custom-input-wrapper select, .custom-input-wrapper textarea{
    outline: none;
    border: none;
    background-color: #ddd;
    padding:12px 15px;
    width: 100%;
    border-radius: 1rem;
}
.account-links-wrapper a{
    color: #000;
    text-decoration: none;
}

.create-access-portal input{
padding: 5px 10px;
border-radius: 8px;
border: solid 1px #F5F5F5;
background-color: #F5F5F5
}