.loan-management-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
}
.loan-management-wrapper input, .loan-management-wrapper select{
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 12px 10px;
    background-color: #F7F7F7;
}

@media screen and (max-width: 600px) {
    .loan-management-wrapper{
        grid-template-columns: 1fr;
    }
}