.page-title {
  font-weight: 500;
  font-size: 20px;
}
.header-links a {
  color: #4d4d4d;
  text-decoration: none;
}
.title-link {
  color: "#4D4D4D";
}
.title-link:hover {
  color: blue;
  cursor: pointer;
  padding-inline: 3px !important;
}
.search-anything {
  width: 50%;
}
.scroller {
  display: flex;
  align-items: center;
  height: 35px;
  gap: 14px;
  padding-right: 20%;
  white-space: nowrap;
}
.scroller a {
  padding-inline: 14px;
}
.outlet-component,
.outlet-component {
  overflow: hidden !important;
}
.suspended-status,
.active-status, .pending-status, .sold-status {
  border-radius: 20px;
  color: #333;
  font-size: 12px;
  display: flex;
  gap: 3px;
  margin: 0 auto;
  align-items: center;
  height: 2rem;
  justify-content: center;
  width: max-content;
}
.suspended-status {
  background-color: #f6dada;
}
.sold-status{
  background-color: #ddd;
}
.pending-status{
  background-color: #f3f8f5;
}
.pending-status hr{
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
}

.sold-status hr{
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
}
.suspended-status hr {
  width: 10px;
  height: 10px;
  background-color: #dc2626;
  border-radius: 50%;
}

.active-status {
  background-color: #d8ede0;
}
.active-status hr {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #16a34a;
  content: "";
}
.admin-task-forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
  margin-top: 1rem;
  column-gap: 2rem;
  padding: 10px 2px;
}
.role-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.statutory-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.action-icons:hover {
  cursor: pointer;
  background-color: #69a4fc;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding: 2px 5px;
}
.mapped {
  background-color: #d8ede0;
  width: 67.16px;
  height: 20.83px;
  padding: 8.33px 0px 0px 0px;
  gap: 4.17px;
  border-radius: 12.5px 0px 0px 0px;
}
.un-mapped {
  background-color: #f6dada;
  width: 88.17px;
  height: 25px;
  padding: 8.33px 0px 0px 0px;
  border-radius: 12.5px 0px 0px 0px;
}
.hr-map {
  background-color: #16a34a !important;
  color: #16a34a !important;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.un-mapped-hr {
  background-color: #dc2626;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  color: #dc2626;
}
.admin-task-forms select option {
  font-family: "DM Sans" !important;
}
option {
  font-family: "DM Sans" !important;
}
@media screen and (max-width: 768px) {
  .admin-task-forms {
    grid-template-columns: 1fr;
  }
  .role-list {
    grid-template-columns: 1fr 1fr;
  }
  .statutory-list {
    grid-template-columns: 1fr;
  }
}
.admin-task-forms label {
  font-size: 14px;
}

.rw-widget-input,
.rw-widget {
  border-radius: 15px !important;
}
.rw-widget-input {
  background-color: #f5f5f5 !important;
  border: none !important;
}
.admin-task-forms input,
.admin-task-forms select,
.admin-task-forms textarea,
.form-content textarea,
.form-content input {
  outline-color: #69a4fc;
  outline-width: 0.2px;
  border: none !important;
  background-color: #f5f5f5 !important;
  border-radius: 12px;
  padding: 10px;
  font-size: 14px !important;
  width: 100%;
}
.admin-task-forms input,
.admin-task-forms select,
.form-content input {
  height: 3.5rem !important;
}
.admin-task-forms textarea,
.form-content textarea {
  height: 5rem !important;
}
.admin-task-forms select, .admin-task-forms option {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  max-width: 100% !important;
  white-space: nowrap !important;
 
}
@media screen and (max-width: 480px) {
  .search-anything {
    width: 80%;
  }
 
}
