.sidebar a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    font-family:DM Sans, sans-serif;
}
.sidebar a:hover{
    background-color: #F5F9FF;
    border: none;
    border-radius: 20px;
    width: fit-content;
    padding: 10px 8px !important;
}
.sidebar a span{
margin-left: 5px;    
font-family: DM Sans, sans-serif;
}
.brand-name{
    color: #666666;
    font-size: 12px !important;
    font-weight: 400;
}
.active-sidebar-link{
    background-color: var(--custom-color) !important;
    color: #fff !important;
    border: none;
    border-radius: 20px;
    width: fit-content;
    padding: 10px 8px !important;
}

.sidebar{
    position: sticky !important;
    top: 0 !important;
    left: 20px;
    overflow-y: scroll;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
}
.sidebar::-webkit-scrollbar{
    width: 5px;
}
.sidebar::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: var(--custom-color);
}
  
  .icons-container:hover .outline {
    opacity: 0;
  }