.global-sidebar-container{
    height: calc(100vh - 80px);
.global-sidebar-links-container{
    display: flex;
    gap: 20px;
    margin-top: 1.5rem;
    flex-direction: column;
    justify-content: center;
    a{
        text-decoration: none;
        font-size: 14px;
        color: #000;
    }
    a:hover{
        border-radius: 25px;
        background-color:  #F5F9FF;
        padding:7px 10px;
    }
    a.active{
        padding: 8px 10px;
        border-radius: 20px;
        background-color:  var(--custom-color);
        color: #fff !important;
    }
}

}