*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

 /* body{
  overflow-x: hidden;
  scroll-behavior: smooth;
} */
html, body {
  width: 100%;
  overflow-x: clip;
}
.general-ledger{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .general-ledger{
    grid-template-columns: 1fr;
  }
}
 .member{
  background-color: var(--custom-color);
  color: #fff;
  border-radius: 2rem;
  padding: 8px 15px;
 }
 .second-btn{
  background-color: #e6f0ff;
  color: #0452C8;
  border-radius: 2rem;
  padding: 8px 15px;
 font-size: 14px;
 }
.loan-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999999;
}

.loan-modal {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 65%;
  width: 60%;
  overflow: auto;
  outline: none;
}
:root{
  --custom-color: #23396A;
  --light-blue: #F4FAFD;
}
.rw-widget-picker {
  display: grid;
  overflow: hidden;
  min-height: 50px;
  background-color: #f5f5f5;
  border: #f5f5f5 0px solid;
  border-radius: 13px;
}
label{
  font-size: 14px;
  color: #666;

}
.view-img{
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  border-radius: 10px;
}
.view-img:hover{
  z-index: 9999;
  width: 70%;
  height: 60%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.inputs-container input, .inputs-container select{
  padding: 10px 12px;
  background-color: rgb(242, 242, 242);
  border: none;
  border-radius: 10px;
}

@font-face {
  font-family: 'Aeonik';
  src: local(Aeonik), url(./fonts/Aeonik-Bold.otf) format('truetype');
}
@font-face {
  font-family: 'Aeonik-md';
  src: local(Aeonik), url(./fonts/Aeonik-Medium.otf) format('truetype');
}
.logo{
  width: 100px !important;
}


@media screen and (max-width:480px) {
  .logo{
    width: 60px !important;
  }
}