.search-inputs{
    outline: none;
    border-radius: 1rem;
    background-color:#F7F7F7;
    border: solid 1px #F7F7F7;
}

.export-btn-container button{
    background-color: #F7F7F7;
    border-radius: 1rem;
    font-size: 12px;
}
.export-btn-container button:hover{
    background-color: #F7F7F7;
}
.member-card-container .card{
    background-color: #f7f7f7;
    border-radius: 1rem;
    outline: none;
}
.member-card-container .card:hover{
    background-color: #D2EDF9;
}
.member-card-container .card:hover h4{
    color: #033E96;
}

@media screen and (max-width: 480px) {
    .member-card-container .card{
        margin-bottom: 10px;
    }
}